:root{
  --bg: #0d0c22;
  --text: white;
  --btn: brown;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
  color: var(--text);
}

a{
  text-decoration: none;
  color: inherit;
}